@model WebApplication2.Models.Pyha

@{
    ViewData["Title"] = "Detailid";
}

<h1>Detailid</h1>

<div>
    <h4>Püha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nimetus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nimetus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kuupaev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kuupaev)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Muuda</a> |
    <a asp-action="Index">Tagasi nimekirja</a>
</div>
