@{
    ViewData["Title"] = "Avaleht";
}

<div class="text-center">
    <h1 class="display-4">Tere Tulemast</h1>
    <p>Õppige rohkem <a href="https://romanzaitsev24.thkit.ee">meie isikliku saidi</a> kohta.</p>
    @Html.ActionLink("Vastan küsimustele", "Ankeet", "Home", new { @class="btn btn-primary" })
</div>