@model WebApplication2.Models.Kylaline
@{
    ViewBag.Title = "Tanan osalemise eest!";
}
<h2>Aitah, @Model.Nimi!</h2>
<p>Sinu vastus on edukalt salvestatud.</p>
<p>Ootame/ei oota sind uritusel</p>
<p><a href="@Url.Action("Index","Home")">Tagasi avalehele</a></p>
